
@media(min-width:576px){


}


@media(min-width:768px){
    .navbar-light .navbar-nav .nav-link {

        
        color: #333B46;
        padding: 5px 10px;
        border-bottom: 2px solid transparent;  
        

    }
    .navbar-light .navbar-nav .nav-link:hover
    {

        background: transparent;
        color: #E84C3D;
        border-bottom: 2px solid #E84C3D; 

    }
   
    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        color: #E84C3D !important;
        border-bottom: 2px solid #E84C3D; 
        
    }
    
    .navbar-nav {
        background: transparent;
    }
}



@media(min-width:992px){

    



}


@media(min-width:1200px){
/*HEADER*/
.navbar-light .navbar-nav .nav-link {

        
        
        padding: 5px 20px;
        
        

    }

}




